In [1]:
## Exercise 1: Create a Jupyter Notebook: ==> Done.

In [2]:
## Exercise 2: Create markdown cell with title of the notebook:

# Data Science Tools and Ecosystem

In [4]:
## Exercise 3 - Create a markdown cell for an introduction:

"In this notebook, we provide a comprehensive summary of the Data Science Tools and Ecosystem, covering a range of essential tools, libraries, and frameworks used in the field of data science."

In [5]:
## Exercise 4 - Create a markdown cell to list data science languages:

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

In [6]:
## Exercise 5 - Create a markdown cell to list data science libraries:

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Seaborn

In [7]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools:

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

In [8]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
## Exercise 8 - Create a code cell to multiply and add numbers:

In [10]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [11]:
## Exercise 9 - Create a code cell to convert minutes to hours:

In [12]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [13]:
## Exercise 10 - Insert a markdown cell to list Objectives:

**Objectives:**

- List popular languages for Data Science.
- Summarize the Data Science Tools and Ecosystem.
- Identify commonly used libraries in Data Science.
- Understand arithmetic expressions in Python.
- Convert minutes to hours using Python.

In [14]:
## Exercise 11 - Create a markdown cell to indicate the Author's name:

## Author
PARVEJ ALAM ANSARI

In [15]:
## Exercise 12 - Share your notebook through GitHub ==> Done.

In [16]:
## Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png ==> Done.